.btn-outline-success {
  font-size: 12px;
  color: #236602;
  letter-spacing: 1px;
  line-height: 30px;
  border: 1px solid #236602;
  border-radius: 40px;
  background: transparent;
}

 .border-radiusImportant{
   border-radius: 1.5em !important;
 }